
* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #F3F3F3;
    color: #232323;
    
}

a {
    color: #252525;
}

a:hover {
    color: #00BC12;
}



.menu{
    margin: 0px;
    padding: 0px;
    background-color: #FFF;
    
}





.navbar-brand img {
    width: 100%;
}

@media (min-width: 992px) {
    .menu .row {
        position: fixed;
    }
    .navbar-brand img {
        width: 65%;
        margin: 150% 0 0 0;
    }
    .links {
        width: 65%;
        margin: 5% 0 0 0;
    }

    .borda {
        width: 22%;
    } 

    .rede {
        width: 65%;
        margin: 50px 0 0 0;
    }

    .copy {
        width: 65%;
        margin: 50px 20px 0 20px;
    }

    
}



.flex-column {
    width: 100%;
}
.flex-column .nav-item {
    font-weight: bold;
}

.borda {
    border-bottom: 1px solid #E5E5E5;
} 

.bordaCopy {
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
} 

.rede img {
    width: 20px;
    height: 20px;
}



.copy p{
    margin: 10px 0 20px 0;
    color: #939393;
    text-align: center;
}


/*           HOME            */

@media (min-width: 992px) {
    #home {
        background: url("../images/eu.png") no-repeat;
        
    }
    .contHome h1 {
        font-size: 52px;
        line-height: 58px;
        padding-bottom: 30px;
    }
}


.contHome {
    background-color: #FFF;
    padding: 10% 20px 10% 20px;
}


.contHome p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10%;
}

.btnContato {
    text-align: center;
    background-color: #00BC12;
    color: #FFF;
    margin: 20px 0 20px 0;
    padding: 20px 20px 20px 20px;
    border-radius: 20px 0 20px 20px;
}

.btnContato:hover {
    background-color: #000;
    color: #00BC12;
    text-decoration: none;
}




/*      QUEM SOU        */


#quemsou {
    background-color: #232323;
    
}

#quemsou p {
    margin: 10px;
}


.titQuemSou {
    margin: 30px 10px 0 10px;
    color: #00BC12;
}

.texQuemsou {
    font-size: 14px;
    color: #FFF;
}

.texQuemsou span {
    color: #00BC12;
}

#autor {
    text-align: right;
    color: #00BC12;
}

.perfil {
    width: 100%;
    border: 4px solid #FFF;
    margin: 30% 0 30% 0;
}


.skills {
    background-color: #F3F3F3;
    padding-bottom: 50px;
}


.skills h3 {
    text-align: center;
    font-weight: bold;
    color: #232323;
    margin: 50px 0 20px 0;
}


.skills img {
    width: 100%;
    margin: 15px 0 15px 0;
}





/*          O QUE EU FAÇO           */



#oquefaco {
    margin: 30px 0 30px 0;
}


#oquefaco h1{
    text-align: center;
    color: #00BC12;
    font-weight: bold;
    line-height: 26px;
}


#oquefaco h1 span {
    color: #232323;
    font-size: 18px;
}


.app {
    padding: 5% 20px 5% 20px;
    border-bottom: 2px solid #E5E5E5;
}


.app h1,h2,h6{
    text-align: center;
    font-weight: bold;
}

.app p{
    text-align: center;
}

.app img {
    width: 100%;
    margin: 5% 0 20px 0;
}

.saibamais{
    text-align: center;
    background: #00BC12;
    color: #FFF;
    padding: 10px 30px 10px 30px;
    border-radius: 20px;
}

.saibamais:hover{
    background: #252525;
    color: #FFF;
    text-decoration: none;
}