
* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #F3F3F3;
    color: #232323;
    
}

a {
    color: #252525;
}

a:hover {
    color: #00BC12;
}

.menu{
    margin: 0px;
    padding: 0px;
    background-color: #FFF;
    
}

.conteudo {

}


.navbar-brand img {
    width: 100%;
}

@media (min-width: 992px) {
    .navbar-brand img {
        margin: 20% 0 0 0;
    }
    .flex-column {
        margin: 15% 0 15% 0;
    }

    .rede {
        margin: 5% 10px 10% 10px;
    }

    .copy {
        margin: 10% 10px 10% 10px;
    }
}



.flex-column {
    width: 100%;
}
.flex-column .nav-item {
    font-weight: bold;
}

.borda {
    width: 100%;
    border-bottom: 1px solid #E5E5E5;
} 

.rede img {
    width: 20px;
    height: 20px;
}



.copy p{
    margin: 10px 0 20px 0;
    color: #939393;
    text-align: center;
}


/*           HOME            */

@media (min-width: 992px) {
    #home {
        background: url("../images/eu.png") no-repeat;
        height: 640px;
    }
    .contHome h1 {
        font-size: 52px;
        line-height: 58px;
        padding-bottom: 30px;
    }
}


.contHome {
    background-color: #FFF;
    padding: 10% 20px 10% 20px;
}


.contHome p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20%;
}

.btnContato {
    text-align: center;
    background-color: #00BC12;
    color: #FFF;
    margin: 20px 0 20px 0;
    padding: 20px 20px 20px 20px;
    border-radius: 20px 0 20px 20px;
}

.btnContato:hover {
    background-color: #000;
    color: #00BC12;
    text-decoration: none;
}